html{
  padding:0px;
  margin: 0px;
  height: 100%;
}
body{
  height: 100%;
  background: #303030;
  padding:0px;
  margin: 0px;
}

.App {
  text-align: center;
  padding:0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.board{

  padding-top: 5px;
}
table{
border-collapse: collapse;





}
table.table, table.table tr, table.table td{

  margin: auto;
}
table.table td {
  height: 65px;
  width: 65px;
  text-align: center;
  font-size: 32px;
  color: white;


}
table tr:nth-child(odd) td:nth-child(odd),
table tr:nth-child(even) td:nth-child(even) {
  background: #556B2F;
}
table tr:nth-child(even) td:nth-child(odd),
table tr:nth-child(odd) td:nth-child(even) {
  background: #918151;
}

.targeted{
  outline: 5px solid red;
  outline-offset: -5.3px;
}
.possibleMove{
  outline: 5px solid yellow;
  outline-offset: -5.3px;
}
.normal {

}
.piece{
  width: auto;
  height: 45px;
  padding-top: 10px;
}
.captured{
  height:100%;
  width:auto;
  margin-left:-5px;
}
.capturedWhiteDiv{
    height: 30px;
    text-align: center;
    padding-top: 5px
  }
.capturedBlackDiv{
    height: 30px;
    text-align: center;
    padding-top: 5px
  }
.choosePromotion{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD
}
.choosePromotion img{
  margin: 5px;
  padding:5px;
  background: grey;
}
.choosePromotion img:hover{
  background: yellow;
}
@media all and (max-device-width: 667px) and (orientation: portrait){

  table{
    border-collapse: collapse;
  }
  .board{
    padding-top: 10px;

  }
  table.table td{
    width: calc(95vw/8);
    height: calc(95vw/8);


  }
}
@media all and (max-device-width: 667px) and (orientation: landscape){
  table{
    border-collapse: collapse;
  }
  .board{
    padding: 0px
  }

  table.table td{
    width: calc(95vh/8);
    height: calc(95vh/8);
    text-align: center;
  }
  .capturedWhiteDiv{
      height: 30px;
      text-align: left;
      display:flex;
      flex-direction: column;
      position: absolute;
      top:10px;
      left:5px;
      width:140px;
    }
    .capturedBlackDiv{
        display:flex;
        flex-direction: column;
        text-align: left;
        width: 140px;
        height: 30px;
        position: absolute;
        bottom:60px;
        left:10px;
      }

      .captured{
        height:30px;
        width:auto;
        margin-left:-5px;
      }
}
