html{
  padding:0px;
  margin: 0px;
  height: 100%;
}
body{
  height: 100%;
  background: #303030;
  padding:0px;
  margin: 0px;
}

.bigDiv{
  min-width: 800px;
}

.board{
  padding-top: 5px;
}

table{
border-collapse: collapse;
min-width: 400px;

}
.squares, .squares tr, .squares td{

  margin: auto;
}
.squares td {
  height: 65px;
  width: 65px;
  text-align: center;
  font-size: 32px;
  color: white;
}
table tr:nth-child(odd) td:nth-child(odd),
table tr:nth-child(even) td:nth-child(even) {
  background: #918151;
}
table tr:nth-child(even) td:nth-child(odd),
table tr:nth-child(odd) td:nth-child(even) {

  background: #556B2F;
}

.targeted{
  outline: 5px solid red;
  outline-offset: -5.3px;
}
.possibleMove{
  outline: 5px solid yellow;
  outline-offset: -5.3px;
}
.normal {

}
.piece{
  width: auto;
  height: 45px;
  padding-top: 10px;
}
.captured{
  height:100%;
  width:auto;
  margin-left:-5px;
}
.capturedWhiteDiv{
    height: 30px;
    text-align: center;
    padding-top: 5px
  }
.capturedBlackDiv{
    height: 30px;
    text-align: center;
    padding-top: 5px
  }
.choosePromotion{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #083CAD;
  min-width: 280px;
  text-align: center;
}
.choosePromotion img{
  margin: 5px;
  padding:5px;
  background: grey;
}
.choosePromotion img:hover{
  background: yellow;
}
.boardDiv{
  text-align: center;

}
.gameBoard{
  display: inline-block;
}
.controller{
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  margin-top: 50px;
}
.controller button{
  border-radius: 8px;
  margin-right: 5px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
}

@media all and (max-device-width: 667px) and (orientation: portrait){
  html, body {
  overflow-x: hidden;
  }
  body {
  position: relative
  }
  .mobile{
    padding: 0px;
    margin: auto;
    overflow: hidden;
  }
  .mobileControl{
    text-align: center;
  }
  .mobileControl button{
    height: 50px;
    width: 90px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 16px;
  }
  .mobileControl p{
    display: inline-block;
    vertical-align: middle;
  }
  table{
    border-collapse: collapse;
  }
  .board{
    padding-top: 10px;
  }
  .squares td{
    width: calc(96vw/8);
    height: calc(96vw/8);
    display: inline-block;
  }
  .squares{
    margin:0px;
  }
}
@media all and (max-device-width: 667px) and (orientation: landscape){
  table{
    border-collapse: collapse;
  }
  .board{
    padding: 0px
  }
  .mobileControl{
    position: absolute;
    margin-top: 10px;
    top: 50px;
    right: 25px;
    text-align: center;
  }
  .mobileControl button{
    height: 50px;
    width: 90px;
    display: block;
    font-size: 16px;
  }

  .squares td{
    width: calc(95vh/8);
    height: calc(95vh/8);
    display: inline-block;
  }
  .capturedWhiteDiv{
      height: 30px;
      text-align: left;
      display:flex;
      flex-direction: column;
      position: absolute;
      top:10px;
      left:5px;
      width:135px;
    }
    .capturedBlackDiv{
        display:flex;
        flex-direction: column;
        text-align: left;
        width: 135px;
        height: 30px;
        position: absolute;
        bottom:60px;
        left:10px;
      }

      .captured{
        height:30px;
        width:auto;
        margin-left:-5px;
      }
}
